@media (min-width: 925px) {
    .hebergements_main {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (max-width: 925px) and (min-width: 650px) {
    .hebergements_main {
        grid-template-columns: 1fr 1fr
    }
}

@media (max-width: 650px) {
    .hebergements_main {
        grid-template-columns: 1fr
    }
}