body {
    font-family: Raleway, sans-serif;
}

button {
    background-color: blue;
    color: white;
}

i {
    color: #0065FC;
    background-color: #DEEBFF;
}

.my-col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.my-col-md-4 {
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}

.my-col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.my-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.my-container{
    width: 100%;
    padding-right: auto;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
}